body {
	background-color: #000000;
	font-family: 'JetBrains Mono NL', monospace;
	color: #FFFFFF;
}
* {
  margin: 0;
  padding: 0;
}
a { /* change color of links*/
  color: #6EE7B7;
}
a:visited { /* change color of visited links */
  color: #34D399;
}
